.proyectos{
    margin-top: 10em;
    .proyectos-item{
                width: 90%;
                height: 30em;
                margin: 1em;
                background-image: url(../assets/GARDENEA\ pantallazo.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                opacity: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                

                &:hover{
                    opacity: 80%;
                }
                a{
                    border: none;
                    background-color:transparent;
                    button{
                        text-decoration: none;
                        padding: 1em;
                        border-radius: 0.5em;
                        -webkit-box-shadow: 7px 9px 22px 6px rgba(0,0,0,0.75);
                        -moz-box-shadow: 7px 9px 22px 6px rgba(0,0,0,0.75);
                        box-shadow: 7px 9px 22px 6px rgba(0,0,0,0.75);
                        
                    }
                }
    }
}